#map {
	width: 100%;
	/*height: 550px;*/
	/*width: 100%;*/
	height: 100%;
	min-height: 100%;
	display: block;
	position: fixed;
}

#title {
    margin-top: 0;
}

.info {
    padding: 10px 12px;
    font: 14px/16px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.info p {
    padding: 0;
    margin: 0;
}
.leaflet-container {
    font-family:"Rotis Serif", Georgia, sans-serif !important;
    font-size: 16px;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
    margin-top: 15px;
}
.legend i {
    width: 18px;
    height: 18px;
    margin: 0 -2px;
    opacity: 0.7;
    display: inline-block;
}

.fill {
    min-height: 100%;
    height: 100%;
}

body {
    /*padding-top:92px;*/
    min-height: 100%;
    height: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    /*margin-bottom: -50px;*/
}

html {
    min-height: 100%;
    height: 100%;
}

.layer-buttons {
    z-index: 9999;
    margin-left: 50px;
}

.layer-button {
    z-index: 9999;
}

.dropdown-menu li {
    cursor: pointer;
}

/*
#selectors select {
    margin-top: 10px;
}
*/

#filter-container {
    position: absolute;
    left: 10px;
    top: 12px;
    z-index: 999;
}

.measureTable {
    width: 100%;
}

#measureSelect input[type="radio"] {
    margin: 0px 6px 2px 6px;
    vertical-align: middle;
}

#s2id_typeSelect {
    width: 100% !important;
}

.select2-disabled {
    color: gray;
    cursor: default !important;
}

#legendTable table {
    width: 100%;
}

#legendLabels .end {
    text-align: right;
}

/* --- POPUP STYLES ---*/

.popup {
    min-width: 275px;
}

.popZoneName {
    font-weight: bold;
}

.popZoneName, .popValue {
    font-size: 20px;
    color: black;
    margin-top: 10px;
}

.popCropName {
    font-style: italic;
    font-size: 20px;
    color: black;
}

.popAcres, .popDescription {
    font-size: 12px;
    color: gray;
    margin-top: 0px;
}

.popAcres, .popValue, .popDescription, .popTopCrop, .popTopCropValue {
    font-family: "Agenda", Arial;
    font-weight: bold;
}

.botPop {
    min-height: 200px;
    background-color: #A3A3A3;
    margin-top: 20px;
    margin-bottom: -10px;
}

.popTheme {
    font-size: 14px;
}

.top5Name {
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
}

.top5Value {
    margin-top: 0;
    font-weight: bold;
    font-size: 12px;
}

.popTheme, .top5Value {
    color: white;
}

.top5Name, .top5Value {
    font-family: "Agenda", Arial;
}

.leaflet-popup-pane {
    z-index: 2000;
}

.leaflet-popup {
    left: 8px !important;
}

.leaflet-popup-tip {
    margin: 4px 0 0 15px;
}

.leaflet-popup-tip-container {
    margin: -115px 0 135px -16px;
    width: 23px;
    height: 30px;
}

.leaflet-popup-content-wrapper {
    margin-left: 7px;
    /*margin-bottom: 85px;*/
}

/* --- END POPUP STYLES ---*/

body {
    font-family:"Rotis Serif", Georgia, sans-serif !important;
}

h1, h2, h3, h4 {

    font-family:"Rotis Serif", Georgia, sans-serif;
}

i, em, cite {
    font-family: "Rotis Serif Italic", Georgia, sans-serif;
    font-style: normal; /* This is important! Otherwise, faux italic italics. Terrible. */
}

strong {
    font-family:"Rotis Serif Bold", Georgia, sans-serif;
    font-weight: normal; /* Rotis doesn’t actually seem to care about this one but just in case. */
}