#map {
	width: 100%;
	/*height: 550px;*/
	/*width: 100%;*/
	height: 100%;
	min-height: 100%;
	display: block;
	position: fixed;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	margin: 0 -2px;
	opacity: 0.7;
	display: inline-block;
}

.fill {
	min-height: 100%;
	height: 100%;
}

body {
    /*padding-top:92px;*/
	min-height: 100%;
	height: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    /*margin-bottom: -50px;*/
}

html {
	min-height: 100%;
	height: 100%;
}

.layer-buttons {
	z-index: 9999;
	margin-left: 50px;
}

.layer-button {
	z-index: 9999;
}

.dropdown-menu li {
	cursor: pointer;
}

/*
#selectors select {
	margin-top: 10px;
}
*/

#filter-container {
    position: absolute;
    left: 10px;
    bottom: 12px;
    z-index: 999;
}

.select2-disabled {
    color: gray;
    cursor: default !important;
}
